<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,347},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,296},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,347},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,296},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,141},{133,137}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{133,137}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,272},{133,133}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{133,133}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{133,135}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{133,135}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{133,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{133,139}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,151}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{133,151}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,274},{133,133}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{133,133}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,139},{133,133}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{133,133}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,137},{133,133}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{133,133}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{133,137}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{133,137}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{133,133}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{133,133}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emojiAtlas.png</string>
            <key>size</key>
            <string>{542,409}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97fa4cbd292a2e450e11fdbbb4c4fe65$</string>
            <key>textureFileName</key>
            <string>emojiAtlas.png</string>
        </dict>
    </dict>
</plist>
